{% extends "base.html" %}
{% load static %}


{% block content %}
  

<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>AbdulRahman</h1>
        <p class="lead text-muted">Here you will find all my projects.</p>
        <p>
          <a href="mailto:aazwri@gmail.com" class="btn btn-primary my-2">Email me!</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
        <img src="{% static 'jobs/images/logo.jpg' %}" alt="logo" width="200px">
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">

            {% for j in job %}
              
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ j.image.url }}" alt="image" width="100%">
              <div class="card-body">
                <p class="card-text">
                    {{ j.summary }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </main>

  {% endblock content %}